<%= form_for(@recipe) do |f| %>

    <% if @recipe.errors.any? %>
        <div id="error_explanation">
          <h2><%= (t :blank_field) %></h2>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :Recipe %>
      <br/>
      <%= f.text_field :name %>
    </div>                         ll

    <div class="field">
      <%= f.label :Cooking %>
      <br/>
      <%= f.text_area :formula %>
    </div>


    <%= f.label :Ingredients %><br />
    <%# TODO: sort ingredients by type %>



    <ul class="nav nav-tabs" id="tablinks">
      <li class="active">
        <a href="#Default">Default</a>
      </li>

      <% @ingredient_categories = [] %>

      <% Ingredient.all.each do |ingredient| %>
          <% @ingredient_categories.append ingredient.category %>


      <% end %>

      <% @ingredient_categories.uniq.each do |category| %>

          <li><a href="#<%= category %>"><%= category %></a></li>

      <% end %>

    </ul>

    <% if @recipe.name == nil %>
        <% Ingredient.all.each do |ingredient| %>
            <%= check_box_tag "ingredients[#{ingredient.id}]", "validated" %>
            <%= label_tag ingredient.name %>
        <% end %>
    <% else %>
        <% @recipe.ingredients.each do |ingredient| %>
            <%= check_box_tag "ingredients[#{ingredient.id}]", "validated" , true%>
            <%= label_tag ingredient.name %>
        <% end %>
        <% (Ingredient.all-@recipe.ingredients).each  do |ingredient| %>
            <%= check_box_tag "ingredients[#{ingredient.id}]", "validated" %>
            <%= label_tag ingredient.name %>
        <% end %>
    <% end %>




    <div class="actions" >
      <%= f.submit %>
    </div>
<% end %>


