<h1><%= t :all_recipes %></h1>

<%= form_tag recipes_path, :method => 'get' do %>
    <p>
      <%= text_field_tag :search_re, params[:search_re], :value => "zb. Nudeln mit Tomatensoße" %>
      <%= submit_tag (t :search_recipe), :name => nil, :class => "btn-small btn-success" %>
    </p>
<% end %>


<%= form_tag ingredients_path, :method => 'get' do %>
    <p>
      <%= text_field_tag :search_in, params[:search_in], :value => "zb Tomaten Nudeln Milch Salami" %>
      <%= submit_tag t(:search_ingredient), :name => nil, :class => "btn-small btn-success" %>
    </p>
<% end %>
<table>
  <tr>

    <th>Recipes</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @recipes.each do |recipe| %>
      <tr>
        <td><%= recipe.name %></td>

        <td><%= link_to (t :show), recipe, :class => "btn-mini btn-primary" %></td>
        <td><%= link_to (t :edit), edit_recipe_path(recipe), :class => "btn-mini btn-warning"  %>
        <td>
        <td><%= link_to (t :destroy), recipe, method: :delete, data: {confirm: 'Are you sure?'}, :class => "btn-mini btn-danger"  %></td>

      </tr>
  <% end %>
</table>


<br/>

<%= link_to ( t :new_recipe), new_recipe_path, :class => "btn-large btn-success"  %>
<%= link_to ( t :ingredients), ingredients_path, :class => "btn-small btn-info"  %>

