<h1><%=t :all_recipes %></h1>

<%= form_tag recipes_path, :method => 'get' do %>
    <p>
      <%= text_field_tag :search_re, params[:search_re] %>
      <%= submit_tag t :search_recipe, :name => nil %>
    </p>
<% end %>


<%= form_tag ingredients_path, :method => 'get' do %>
    <p>
      <%= text_field_tag :search_in,  params[:search_in] %>
      <%= submit_tag t(:search_ingredient), :name => nil %>
    </p>
<% end %>


<table>
  <tr>
    <th>Recipes</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @recipes.each do |recipe| %>
  <tr>
    <td><%= recipe.name %></td>
    <td><%= link_to (t :show), recipe %></td>
    <td><%= link_to (t :edit), edit_recipe_path(recipe) %></td>
    <td><%= link_to (t :destroy), recipe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Recipe', new_recipe_path %>
<%= link_to 'Ingredients', ingredients_path %>
