<p id="notice"><%= notice %></p>

<p>
  <b>Dish:</b>
  <%= @recipe.name %>
</p>

<p>
  <b>Recipe:</b>
  <%= @recipe.formula %>
</p>

<p>
  <b>Ingredients:</b>
  <%= @recipe.ingredients.all.collect(&:name) %>
</p>


<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Ok', recipes_path %>
