<p id="notice"><%= notice %></p>

<h3>Dish:
  <%= @recipe.name %>
</h3>

<br><br>

<h2>Recipe:</h2>
<%= @recipe.formula %>

<p>
<h2>Ingredients:</h2>
<% @recipe.ingredients.each do |this_ingredient| %>
    <%= this_ingredient.name %><br>
<% end %>

<h2>voting:</h2>
<p>

  <%= @recipe.name %> scores ... out of 10 possible points.
   <br>
</p>

<%# TODO: implement voting window %>
<%# TODO: get real scores, init vote button %>

<% unless @message_rendered %>
    <% if flash[:vote] %>
        <p class='notice'> <%= h flash[:notice] %></p>

    <% end %>
    <% @message_rendered = true %>
<% end %>

<div class="progress progress-striped">
  <div class="bar"
       style="width: 20%;"></div>
</div>
<%= link_to "vote here", (h flash[:vote]), :class => "btn-small btn-info" %>



<br>
<br>
<br>

<h2>Comments:</h2>
<% @recipe.comments.each do |c| %>
    <h4>
      <%= c.name %>
    </h4>
    <h6>
      <%= c.created_at %>
    </h6>
    <%= c.text %>
    <hr/>
<% end %>

<br><br>
<hr/>


<%= link_to 'Edit', edit_recipe_path(@recipe), :class => "btn-small btn-warning" %>
<%= link_to 'Back', recipes_path, :class => "btn-small btn-inverse" %>
<%= link_to 'Comment', new_comment_path, :class => "btn-small btn-success" %>
