<p id="notice"><%= notice %></p>

Dish:
<h1>  <%= @recipe.name %>
</h1>

<br><br>

<h2>Recipe:</h2>
<%= @recipe.formula %>

<p>
<h2>Ingredients:</h2>
<% @recipe.ingredients.each do |this_ingredient| %>
    <%= this_ingredient.name %><br>
<% end %>

<h2>voting:</h2>
<p>

  <% if @recipe.vote_count == nil || @recipe.vote_count == 0; %>
      <% score = 0 %>
  <% else %>
      <% score = @recipe.vote_sum / @recipe.vote_count %>
  <% end %>

  <%= @recipe.name %> scored <%= score %> out of 10 possible points in <%= @recipe.vote_count %> votings


  <br>
</p>

<div class="progress progress-striped">
  <div class="bar"
       style="<%= score %>"></div>
</div>


<div class="btn-group dropup">
  <button class="btn">Vote</button>
  <button class="btn dropdown-toggle" data-toggle="dropdown">
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" >
    <p>1: bad</p>
    <p>5</p>
    <p>10: great</p>
  </ul>
</div>
<%# TODO: votin system %>

<% if @vote_given %>

<br>
<br>
<br>

<h2>Comments:</h2>
<% @recipe.comments.each do |c| %>
    <h4>
      <%= c.name %>
    </h4>
    <h6>
      <%= c.created_at %>
    </h6>
    <%= c.text %>
    <hr/>
<% end %>

<br><br>
<hr/>
<h2>create Comment:</h2>

<%= render "comments/form" %>

<div id="footer_buttons">
  <%= link_to 'Edit', edit_recipe_path(@recipe), :class => "btn-small btn-warning" %>
  <%= link_to 'Back', recipes_path, :class => "btn-small btn-inverse" %>
</div>
