<p id="notice"><%= notice %></p>

  <h3>Dish:
 <%= @recipe.name %>
      </h3>

<br><br>

  <h2>Recipe:</h2>
  <%= @recipe.formula %>

<p>
  <h2>Ingredients:</h2>
  <% @recipe.ingredients.each do |this_ingredient| %>
    <%= this_ingredient.name %><br>
  <% end %>

<br><br>
<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Ok', recipes_path %>
