<p id="notice"><%= notice %></p>

Dish:
<h1>  <%= @recipe.name %>
</h1>

<br><br>

<h2>Recipe:</h2>
<%= raw line_break(@recipe.formula)  %>


<p>
<h2>Ingredients:</h2>
<% @recipe.ingredients.each do |this_ingredient| %>
    <%= this_ingredient.name %><br>
<% end %>

<h2>voting:</h2>
<p>



  <%= @recipe.name %> scored <%= score = get_voting @recipe %> out of 10 possible points in <%= @recipe.vote_count %> votings


  <br>
</p>

<div class="progress progress-danger progress-striped">
  <div class="bar"
       style="width: <%= score*10 %>%"></div>
</div>


<div class="btn-group">
  <button class="btn">Vote</button>
  <button class="btn dropdown-toggle" data-toggle="dropdown">
    <span class="caret"></span>
  </button>


  <ul class="dropdown-menu" id="dropdown_links">
    <%= link_to "1 poor", voting_path(@recipe.id, 1) %>
    <%= link_to "2 ", voting_path(@recipe.id, 2) %>
    <%= link_to "3", voting_path(@recipe.id, 3) %>
    <%= link_to "4", voting_path(@recipe.id, 4) %>
    <%= link_to "5 average", voting_path(@recipe.id, 5) %>
    <%= link_to "6", voting_path(@recipe.id, 6) %>
    <%= link_to "7", voting_path(@recipe.id, 7) %>
    <%= link_to "8", voting_path(@recipe.id, 8) %>
    <%= link_to "9", voting_path(@recipe.id, 9) %>
    <%= link_to "10 great", voting_path(@recipe.id, 10) %>


  </ul>
</div>
<br>
<br>
<br>

<h2>Comments:</h2>
<% @recipe.comments.each do |c| %>
    <h4>
      <%= c.name %>
    </h4>
    <h6>
      <%= c.created_at %>
    </h6>
    <%= c.text %>
    <hr/>
<% end %>

<br><br>
<hr/>
<h2>create Comment:</h2>

<%= render "comments/form" %>

<div id="footer_buttons">
  <%= link_to 'Edit', edit_recipe_path(@recipe), :class => "btn-small btn-warning" %>
  <%= link_to 'Back', recipes_path, :class => "btn-small btn-inverse" %>
</div>
