<% new = true %>
<% unless params[:search_in].blank? %>
  <% @title = "Rezepte die #{params[:search_in]} enthalten:" %>
      <% new = false %>
    <% else %>
      <% @title = "Ingredients" %>
<% end %>

<h2><%= @title  %></h2>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<% if @ingredients.count == 0 %>
     no entries were found
<% else %>
<% @ingredients.each do |ingredient| %>
  <tr>
    <td><%= ingredient.name %></td>
    <td><%= link_to 'Edit', edit_recipe_path(ingredient) %></td>
    <td><%= link_to 'Destroy', ingredient, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
  <% end %>
  <% end %>


</table>

<br />
<% if new %>
<%= link_to 'New Ingredient', new_ingredient_path %>
<% end %>

<%= link_to 'Back to Recipes', recipes_path %>
