<% if params[:search_in].blank? %>
      <% @title = "Ingredients" %>
      <% rec = false %>
    <% else %>
      <% @title = "Recipes which contain #{params[:search_in].split(' ').join(", ")}:" %>
      <% rec = true %>
<% end %>

<h2><%= @title  %></h2>

<% if @ingredients.count == 0 %>
        no entries were found<br><br><br>
    <%= link_to '--> Pizza bestellen', "http://pizza.de" %>
    <br>
<% else %>
<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <tr>


<% @ingredients.each do |ingredient| %>
    <td><%= ingredient.name %></td>
    <td><%= link_to 'Show', ingredient %></td>
    <% if rec %>
      <td><%= link_to 'Edit', edit_recipe_path(ingredient) %></td>
    <% else %>
      <td><%= link_to 'Edit', edit_ingredient_path(ingredient) %></td>
     <td><%= link_to 'Destroy', ingredient, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
  <% end %>
  <% end %>


</table>

<br />
<% unless rec %>
<%= link_to 'New Ingredient', new_ingredient_path %>
<% end %>

<%= link_to 'Back to Recipes', recipes_path %>
