<% if params[:search_in].blank? %>
    <% title = "Ingredients" %>
    <% rec = false %>
<% else %>
    <% title = "Recipes you can still cook with: #{params[:search_in].split(' ').join(", ")}:" %>
    <% rec = true %>
<% end %>

<h2><%= title %></h2>

<% if rec && @ingredients.first.count == 0 && @ingredients.second.count == 0 && @ingredients.third.count == 0 %>
    no entries were found<br><br><br>
    <%= link_to '--> maybe order a Pizza ', "http://pizza.de", :class => "btn btn-danger" %>
    <br>
<% else %>

    <% i = 0 %>
    <table>
      <tr>
        <th>Name</th>
        <th></th>
        <th></th>
      </tr>

      <% if rec %>
          <tr>

            <% @ingredients.each do |bucket| %>
                <% bucket.each do |ingredient| %>

                    <td><%= ingredient.name %></td>
                    <td><%= link_to (t :show), ingredient, :class => "btn-small btn-primary" %></td>
                    <td><%= link_to (t :edit), edit_recipe_path(ingredient),  :class => "btn-small btn-warning" %></td>
                    </tr>


                <% end %>
                <tr>
                  <td>

                    <% case i %>
                    <% when 0 %>
                    <% when 1 then  %>
                        <br><br>
                        <h6>
                          <%= "One ingredient is missing to cook:" %>
                        </h6>
                    <% when 2 then puts "Two ingredients are missing to cook:" %>
                        <br><br>
                        <h6>
                          <%= "Two ingredients are missing to cook:" %>
                        </h6>
                  <% else puts "..." %>
                    <% end %>
                  </td>
                </tr>

                <% i+=1 %>

            <% end %>
      <% else %>
          <tr>

            <% @ingredients.each do |ingredient| %>

                <td><%= ingredient.name %></td>
                <td><%= link_to (t :show), ingredient, :class => "btn-small btn-primary" %></td>
                <td><%= link_to (t :edit), edit_ingredient_path(ingredient), :class => "btn-small btn-warning" %></td>
                <td><%= link_to "#{t :destroy}", ingredient, method: :delete, data: {confirm: 'Are you sure?'}, :class => "btn-small btn-danger" %></td>

                </tr>


            <% end %>
      <% end %>

<% end %>


</table>

<br/>
<% unless rec %>
    <%= link_to 'New Ingredient', new_ingredient_path, :class => "btn-small btn-success" %>
<% end %>

<%= link_to (t :back_to_rec), recipes_path, :class => "btn-small btn-inverse" %>
