<% if params[:search_in].blank? %>
      <% @title = "Ingredients" %>
      <% rec = false %>
    <% else %>
      <% @title = "Rezepte die #{params[:search_in]} enthalten:" %>
      <% rec = true %>
<% end %>

<h2><%= @title  %></h2>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<% if @ingredients.count == 0 %>
     no entries were found
<% else %>
<% @ingredients.each do |ingredient| %>
  <tr>
    <td><%= ingredient.name %></td>
    <% if rec %>
    <td><%= link_to 'Edit', edit_recipe_path(ingredient) %></td>
        <% else %>
        <td><%= link_to 'Edit', edit_ingredient_path(ingredient) %></td>
        <td><%= link_to 'Destroy', ingredient, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
  </tr>
  <% end %>
  <% end %>


</table>

<br />
<% unless rec %>
<%= link_to 'New Ingredient', new_ingredient_path %>
<% end %>

<%= link_to 'Back to Recipes', recipes_path %>
