<!DOCTYPE html>
<html>
<head>
  <title>ReverseCookbook - <%= @title || "reverseCooking" %></title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="#">ReverseCookbook</a>

      <div class="nav-collapse">
        <ul class="nav">
          <li><%= link_to "Browse Recipes", recipes_path %></li>
          <li><%= link_to "Search", recipes_path %></li>
          <li><%= link_to "Ingredients list", ingredients_path %></li>
          <li><%= link_to "Create Recipe", new_recipe_path %></li>
          <li><%= link_to "About us" %></li>
          <li><%= link_to "Contact" %></li>
          <li><%= link_to "change Language", recipes_path %></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="span2">
      <div id="randoms"><h3>Random recipes</h3></div>
    </div>
    <div class="span5" id="content"><%= yield %></div>
    <div class="span2">&nbsp;</div>
    <div class="span3">
      <h2>About Us</h2>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </div>
  </div>

</div>

</body>
</html>
