<!DOCTYPE html>
<!-- copied from http://twitter.github.com/bootstrap !-->
<html>
<head>
  <title>ReverseCookbook - <%= @title || "reverseCooking" %></title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="<%= root_path %>">ReverseCookbook</a>

      <div class="nav-collapse">
        <ul class="nav">
          <li><%= link_to (t :browse_recipes), recipes_path %></li>
          <li><%= link_to (t :ingredients_list), new_ingredient_path %></li>
          <li><%= link_to (t :create_recipe), new_recipe_path %></li>
        </ul>
        <ul class="nav pull-right">
          <li>
            <% if I18n.locale == I18n.default_locale %>
                <%= link_to image_tag("united_kingdom_flag_16.png"), :locale => 'en' %>
            <% else %>
                <%= link_to image_tag("germany_flag_16.png"), :locale => 'de' %>
            <% end %>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <% if user_signed_in? %>
                  <%= current_user.email %>
              <% else %>
                  Account
              <% end %>
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu" id="dropdown_links">
              <li>
                <%= link_to new_user_path do %>
                    <i class="icon-user"></i> New User
                <% end %>
              </li>
              <li>
                <% if user_signed_in? %>
                    <%= link_to logout_path, method: :delete do %>
                        <i class="icon-off"></i> Logout
                    <% end %>
                <% else %>
                    <%= link_to login_path do %>
                        <i class="icon-off"></i> Login
                    <% end %>
                <% end %>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="span2">
      <div id="randoms"><h3>Random Recipes</h3>
        <br> <br>

        <%= random_recipes %>
        <br><br>
        <%= random_recipes %>
        <br><br>
        <%= random_recipes %>
        <br><br>
        <%= random_recipes %>
        <br><br>

      </div>


    </div>

    <div class="span5" id="content">

      <% if flash[:alert] %>
          <p id="alert">
            <%= flash[:alert] %>
          </p>
      <% end %>

      <div id="msg">
        <% if flash[:notice] %>
            <p id="notice">
              <%= flash[:notice] %>
            </p>
        <% end %>
        <%= yield %>
      </div>
    </div>

  </div>

</div>


</body>
</html>
